################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/workshop-code-base/ShareDataSite/ShareDataSite/bin
/workshop-code-base/ShareDataSite/ShareDataSite/obj/
