@{
    ViewData["Title"] = "data share demo";
}
@section Script{
    <style>
        .func {
            position: absolute;
            top: 4px;
            right: 17px;
        }
    </style>
}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">DATA SHARE DEMO</a>
    <a class="nav-link" href="#"> >> RAWDATA</a>
</nav>
<div class="filelist" style="margin-top:16px;">
    <ul class="list-group">
        <li class="list-group-item">
            <span style="display:block">file name here</span>
            <span style="display:block">file path here</span>
            <div class="func"><button type="button" class="btn btn-primary">Get Raw data</button></div>
        </li>
    </ul>
</div>